body {
    padding: 0;
    margin: 0;
}
.navbar {
    position: fixed;
    background: black;
    
    
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background: black;
    justify-content: flex-end;
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: white;
    height: 20px;
}

#navlist li:hover {
    background: red;
}

#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}

@media all and ( max-width: 500px ) { 

    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: white;
    }

}



.image{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    align-items: center;
}
.nested{
    display: flex;
    list-style: none;
    justify-content: space-between;
}